@import url("https://fonts.googleapis.com/css?family=Roboto:300i,300,400,700&display=swap");
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../fonts/MyriadPro-Semibold.ttf");
  font-weight: 600; }
@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../fonts/MyriadPro-Bold.ttf");
  font-weight: 700; }
@font-face {
  font-family: "MyriadPro-Black";
  src: url("../fonts/MyriadPro-Black.ttf");
  font-weight: 900; }
@font-face {
  font-family: "Georgia-Bold-Italic";
  src: url("../fonts/Georgia-Bold-Italic.ttf");
  font-weight: 700; }
.gray {
  color: #c0c0c0; }

.bg-white {
  background: #FFF; }

.roboto {
  font-family: "Roboto", sans-serif; }

* {
  outline: none !important; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "MyriadPro-Regular", sans-serif;
  background: #FFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

a {
  text-decoration: none !important;
  transition: 0.3s; }
  a:hover {
    opacity: 0.7; }
  a.black {
    color: #000; }

@media (min-width: 1440px) {
  .container {
    max-width: 1310px; } }
@media (min-width: 1200px) {
  .w-300 {
    width: 300px; } }

.row-4 {
  margin-left: -4px;
  margin-right: -4px; }
  .row-4 > [class*='col'] {
    padding-left: 4px;
    padding-right: 4px; }

.row-8 {
  margin-left: -8px;
  margin-right: -8px; }
  .row-8 > [class*='col'] {
    padding-left: 8px;
    padding-right: 8px; }

.btn-subscribe {
  font-size: 13px;
  transition: 0.3s;
  color: #FFF;
  border-radius: 4px;
  background: #007bff;
  text-transform: uppercase;
  padding: 7.5px 12px; }
  .btn-subscribe:hover, .btn-subscribe:focus {
    opacity: 0.8;
    color: #FFF;
    box-shadow: none; }

.fz-0 {
  font-size: 0; }

.fz-9 {
  font-size: 9px; }

.fz-11 {
  font-size: 11px; }

.fz-12 {
  font-size: 12px; }

.fz-13 {
  font-size: 13px; }

.fz-14 {
  font-size: 14px; }

.fz-15 {
  font-size: 15px; }

.fz-18 {
  font-size: 18px; }

.lh-12 {
  line-height: 1.2; }

.lh-1 {
  line-height: 1; }

.h1 a, h1 a, .h2 a, h2 a, .h3 a, h3 a, .h4 a, h4 a, .h5 a, h5 a, .h6 a, h6 a {
  color: #000; }
  .h1 a:hover, h1 a:hover, .h2 a:hover, h2 a:hover, .h3 a:hover, h3 a:hover, .h4 a:hover, h4 a:hover, .h5 a:hover, h5 a:hover, .h6 a:hover, h6 a:hover {
    color: #000; }

.h1, h1 {
  font-size: 42px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.h2, h2 {
  font-size: 24px;
  font-weight: bold; }

.h3, h3 {
  font-size: 22px;
  font-weight: 900;
  line-height: 1.2; }
  @media (max-width: 575.98px) {
    .h3, h3 {
      font-size: 20px; } }

.h4, h4 {
  font-size: 22px;
  line-height: 1.2;
  font-family: "Georgia-Bold-Italic", sans-serif; }

.h5, h5 {
  font-size: 18px;
  font-family: "MyriadPro-Bold", sans-serif; }

.h6, h6 {
  font-size: 15px;
  font-family: "MyriadPro-Bold", sans-serif; }

.content-box {
  border-radius: 15px;
  background: #FFF;
  padding: 16px 0 24px;
  border: 1px solid #f0f2f5; }
  .content-box .h5 {
    border-bottom: 1px solid #f5f8fa;
    padding: 0 16px 8px; }
  .content-box .box-bottom {
    color: #575757;
    padding: 0 16px; }
  .content-box .news-box {
    line-height: 1.2;
    padding-left: 16px;
    padding-right: 16px; }
    .content-box .news-box:not(:last-child) {
      margin-bottom: 16px;
      padding-bottom: 12px;
      border-bottom: 1px solid #f5f8fa; }
  .content-box.newsletter {
    background: #f8f8f8; }

.a-blue {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px; }

.a-red {
  color: #fc4445;
  font-style: italic;
  font-weight: bold; }
  .a-red:hover {
    color: #fc4445; }

.loc-link {
  font-size: 13px; }

.form-subscribe .form-control {
  border-radius: 4px;
  padding: 0 20px;
  background: #FFF;
  height: 36px;
  font-size: 14px;
  border: 0; }
  .form-subscribe .form-control:focus {
    box-shadow: none;
    background: #FFF; }

.nearby {
  display: inline-block;
  padding: 4px 16px;
  background: #FFF;
  color: #000;
  font-size: 15px;
  border-radius: 100px;
  border: 1px solid #f0f2f5;
  font-weight: bold; }
  .nearby:hover {
    color: #000;
    background: #f0f2f5;
    opacity: 1; }

.nearby-2 {
  font-size: 19px;
  padding-top: 0;
  padding-bottom: 0; }
  .nearby-2 .fa-pencil {
    font-size: 9px;
    color: #209ee6; }

.dropdown-2 {
  margin-bottom: 16px; }
  .dropdown-2 .dropdown-toggle:after {
    display: none; }
  .dropdown-2 .dropdown-menu {
    min-width: 300px;
    overflow: hidden;
    border: 0;
    transform: translate3d(0, 35px, 0px) !important;
    border-radius: 15px;
    border: 1px solid #f0f2f5; }
    .dropdown-2 .dropdown-menu .radio-group {
      font-size: 12px;
      display: block;
      margin-bottom: 2px;
      cursor: pointer; }
      .dropdown-2 .dropdown-menu .radio-group input {
        display: none; }
        .dropdown-2 .dropdown-menu .radio-group input ~ span {
          display: block;
          padding: 6px 16px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; }
        .dropdown-2 .dropdown-menu .radio-group input:checked ~ span, .dropdown-2 .dropdown-menu .radio-group input:hover ~ span {
          transition: 0.3s;
          background: #f0f2f5;
          border-radius: 100px; }

.category {
  display: block;
  padding: 8px;
  border-radius: 100px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  margin-bottom: 4px;
  transition: 0.3s;
  border: 1px solid transparent; }
  .category:hover {
    color: #000;
    opacity: 1;
    background: #f8f8f8;
    border: 1px solid #f0f2f5; }
  .category.active {
    background: #f8f8f8;
    font-weight: bold;
    border: 1px solid #f0f2f5; }
  .category.disabled:hover {
    background: initial; }
  .category img {
    max-height: 35px; }

.section-white {
  background: #FFF;
  border-radius: 15px;
  border: 1px solid #f0f2f5;
  overflow-y: hidden; }

@media (min-width: 992px) {
  .section-community {
    border-left: 1px solid #dfdfe6;
    border-right: 1px solid #dfdfe6; } }

@media (min-width: 992px) {
  .community-box {
    padding-left: 20px;
    padding-right: 20px; } }

.bg-img {
  background-size: cover;
  background-position: center center;
  height: auto; }

.img-wrap {
  overflow: hidden;
  transition: 0.3s; }
  .img-wrap .bg-wrap {
    transition: 0.3s; }
  @media (min-width: 1200px) {
    .img-wrap:hover .bg-wrap {
      transform: scale(1.1); } }
  .img-wrap.r-8 {
    border-radius: 8px; }

.text-box {
  padding: 16px 0 24px; }
  .text-box:not(:last-child) {
    border-bottom: 1px solid #dfdfe6; }
  .text-box .text-box-inside {
    padding-left: 20px;
    padding-right: 20px; }
    @media (max-width: 767.98px) {
      .text-box .text-box-inside {
        padding-left: 16px;
        padding-right: 16px; } }

.blue-link {
  color: #007bff !important;
  font-size: 14px;
  font-weight: bold;
  display: inline-block; }
  @media (max-width: 767.98px) {
    .blue-link {
      font-size: 13px; } }

.data {
  font-size: 14px; }
  @media (max-width: 767.98px) {
    .data {
      font-size: 13px; } }

.story-box {
  padding: 16px 30px 24px; }
  @media (max-width: 1199.98px) {
    .story-box {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 767.98px) {
    .story-box {
      padding-left: 16px;
      padding-right: 16px; } }

.calendar-red {
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  color: #FFF;
  background: #fc4445; }
  .calendar-red .month {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    background-clip: padding-box;
    border-bottom: 1px solid #FFF; }
  .calendar-red .number {
    font-weight: bold;
    font-size: 13px; }

.fa-map-marker-alt {
  color: #fc4445;
  font-size: 12px; }

.social-icons {
  display: flex;
  padding: 14px 0; }
  .social-icons .nav-link {
    padding: 4px;
    transition: 0.3s; }
    .social-icons .nav-link img {
      height: 25px;
      width: 25px;
      max-height: 25px;
      border-radius: 100px; }

@media (max-width: 575.98px) {
  .o-auto {
    overflow-x: auto; } }

.table-statistics {
  min-width: 380px; }
  .table-statistics .table-box {
    border-bottom: 1px solid #d5d5d5;
    padding: 10px 0; }
  .table-statistics .bb-black {
    border-bottom: 2px solid #000; }

.page-navbar {
  background: #f8f8f8 !important;
  padding: 0 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
  @media (max-width: 1199.98px) {
    .page-navbar {
      padding: 16px; } }
  @media (max-width: 575.98px) {
    .page-navbar {
      padding: 14px 0; } }
  @media (min-width: 992px) {
    .page-navbar {
      position: sticky;
      top: 0;
      z-index: 1020; } }
  .page-navbar .navbar-brand {
    padding: 0;
    text-align: center;
    margin-right: 0; }
    .page-navbar .navbar-brand img {
      width: 150px; }

@media (min-width: 1200px) {
  .section-search {
    padding: 16px;
    border-left: 1px solid #dfdfe6;
    border-right: 1px solid #dfdfe6; } }

.form-search-navbar {
  position: relative;
  transition: 0.3s; }
  .form-search-navbar .fa-magnifying-glass {
    transition: 0.3s;
    position: absolute;
    background: none;
    border: none;
    color: #000;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    padding: 0;
    font-size: 25px; }
    @media (max-width: 1199.98px) {
      .form-search-navbar .fa-magnifying-glass {
        font-size: 18px; } }
    .form-search-navbar .fa-magnifying-glass:hover {
      opacity: 0.6; }
  .form-search-navbar .form-control {
    padding: 4px 15px 4px 50px;
    height: 40px;
    border: 0;
    color: #000;
    background: transparent;
    width: 100%;
    font-size: 15px;
    transition: none; }
    .form-search-navbar .form-control::-webkit-input-placeholder {
      color: #000; }
    .form-search-navbar .form-control::-moz-placeholder {
      color: #000; }
    .form-search-navbar .form-control:-ms-input-placeholder {
      color: #000; }
    .form-search-navbar .form-control:focus {
      box-shadow: none; }
    @media (max-width: 1199.98px) {
      .form-search-navbar .form-control {
        background: #FFF;
        border-radius: 8px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
        .form-search-navbar .form-control:focus {
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); } }
  .form-search-navbar .dropdown-menu {
    margin-top: 0;
    padding: 0;
    border-radius: 8px;
    border: 1px solid #dfdfe6;
    top: 66px !important;
    transform: translate3d(0px, 0px, 0px) !important; }
    @media (max-width: 1199.98px) {
      .form-search-navbar .dropdown-menu {
        top: 50px !important; } }

.search-inside {
  max-height: 280px;
  overflow-y: auto;
  flex-grow: 1; }
  .search-inside::-webkit-scrollbar {
    width: 4px;
    height: 4px; }
  .search-inside::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 2px; }
  .search-inside::-webkit-scrollbar-thumb {
    background-color: #dfdfe6;
    border-radius: 2px; }
  .search-inside .news-box {
    padding: 0 30px; }
    .search-inside .news-box .news {
      margin-bottom: 10px; }
      .search-inside .news-box .news a {
        color: #000;
        font-weight: bold; }
        .search-inside .news-box .news a:hover {
          opacity: 1;
          color: #007bff; }

.select-state {
  font-size: 16px;
  border: 0;
  cursor: pointer;
  min-width: 300px;
  border-radius: 8px;
  color: #c0c0c0;
  height: 44px;
  font-weight: bold;
  padding: 6px 28px 6px 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  background: #FFF url(../img/arrow-select.png) no-repeat right 0.75rem center/12px 8px; }
  @media (max-width: 991.98px) {
    .select-state {
      min-width: auto;
      width: 100%; } }
  @media (max-width: 575.98px) {
    .select-state {
      padding: 6px 28px 6px 10px; } }
  .select-state:focus {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
  .select-state.select-gray {
    min-width: auto;
    width: 100%; }

.btn-locations {
  position: relative;
  font-size: 14px;
  border: 0;
  display: block;
  border-radius: 8px;
  color: #007bff;
  background: #FFF;
  font-weight: bold;
  padding: 10px 28px 10px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
  .btn-locations .fa-chevron-down {
    position: absolute;
    right: 12px;
    top: 50%;
    transition: 0.3s;
    color: #000;
    font-size: 14px;
    transform: translateY(-50%); }
  .btn-locations:hover {
    background: #007bff;
    opacity: 1;
    color: #FFF; }
    .btn-locations:hover .fa-chevron-down {
      color: #FFF; }

.btn-aside-map {
  display: block;
  background: #007bff;
  border-radius: 8px;
  padding: 8.5px 20px; }

.menubar-map, .menubar-locations, .menubar-allnews {
  overflow: hidden; }

@media (max-width: 1199.98px) {
  .menu-aside {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 1031;
    transition: 0.5s;
    opacity: 0;
    background: #FFF;
    pointer-events: none;
    transform: scale(0); } }
@media (min-width: 1200px) {
  .menu-aside {
    display: none; } }
.menu-aside .navbar-brand {
  padding: 0;
  text-align: center;
  margin-right: 0; }
  .menu-aside .navbar-brand img {
    width: 170px; }
    @media (max-width: 767.98px) {
      .menu-aside .navbar-brand img {
        width: 140px; } }
@media (max-width: 1199.98px) {
  .menu-aside .aside-bottom {
    min-height: calc(100vh - 62px); }
    .menu-aside .aside-bottom .heatmap {
      height: calc(100vh - 62px); } }

.menu-allnews {
  display: block !important; }
  @media (min-width: 1200px) {
    .menu-allnews .aside-top {
      display: none !important; } }
  .menu-allnews .aside-bottom {
    margin: 0 auto; }
    @media (max-width: 1199.98px) {
      .menu-allnews .aside-bottom {
        max-width: calc(50% - 40px); } }
    @media (max-width: 767.98px) {
      .menu-allnews .aside-bottom {
        max-width: calc(70% - 40px); } }
    @media (max-width: 575.98px) {
      .menu-allnews .aside-bottom {
        max-width: calc(100% - 40px); } }

.aside-top {
  background: #FFF;
  border-bottom: 1px solid #f0f2f5;
  padding: 14px 16px; }
  @media (max-width: 575.98px) {
    .aside-top {
      padding: 17px 0; } }
  .aside-top .navbar-brand {
    font-size: 0; }
    .aside-top .navbar-brand img {
      width: 150px; }
      @media (max-width: 575.98px) {
        .aside-top .navbar-brand img {
          width: 100px; } }
  .aside-top .aside-title {
    font-weight: bold;
    font-size: 22px;
    text-align: center; }
    @media (max-width: 575.98px) {
      .aside-top .aside-title {
        font-size: 18px; } }

.aside-map-close img, .aside-locations-close img, .aside-allnews-close img {
  width: 25px; }
  @media (max-width: 575.98px) {
    .aside-map-close img, .aside-locations-close img, .aside-allnews-close img {
      width: 20px; } }

.menubar-map #menu-aside-map {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1); }

.menubar-locations #menu-aside-locations {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1); }

.menubar-allnews #menu-aside-allnews {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1); }

.btn-apply-box {
  position: absolute;
  left: 20px;
  bottom: 20px;
  right: 20px;
  text-align: center; }
  .btn-apply-box .btn-apply {
    font-size: 13px;
    transition: 0.3s;
    color: #FFF;
    border-radius: 8px;
    background: #007bff;
    padding: 15px 50px;
    cursor: pointer;
    display: inline-block; }
    @media (max-width: 575.98px) {
      .btn-apply-box .btn-apply {
        display: block; } }
    .btn-apply-box .btn-apply:hover {
      opacity: 1;
      background: #3578b7;
      color: #FFF; }
    .btn-apply-box .btn-apply:focus {
      box-shadow: none; }

.nearby-3 {
  display: block;
  color: #000;
  background: #f8f8f8;
  font-size: 24px;
  position: relative;
  line-height: 1.2;
  padding: 8px 30px 8px 20px;
  border-radius: 8px;
  border: 1px solid #f0f2f5; }
  .nearby-3 .fa-chevron-right {
    position: absolute;
    right: 20px;
    top: 50%;
    transition: 0.3s;
    font-size: 14px;
    transform: translateY(-50%) rotate(90deg); }
  .nearby-3:hover {
    color: #000;
    opacity: 1; }
    .nearby-3:hover .fa-chevron-right {
      transform: translateY(-25%) rotate(90deg); }

.category-new {
  padding: 8px 20px;
  border-radius: 8px;
  margin-bottom: 9px; }
  .category-new .img-box {
    max-height: 30px;
    height: 25px;
    width: 25px; }
  .category-new:hover .img-box.img-box-all, .category-new.active .img-box.img-box-all {
    background-image: url(../img/all.png) !important; }
  .category-new:hover .img-box.img-box-town, .category-new.active .img-box.img-box-town {
    background-image: url(../img/town_feed.png) !important; }
  .category-new:hover .img-box.img-box-events, .category-new.active .img-box.img-box-events {
    background-image: url(../img/events.png) !important; }
  .category-new:hover .img-box.img-box-local, .category-new.active .img-box.img-box-local {
    background-image: url(../img/government.png) !important; }
  .category-new:hover .img-box.img-box-business, .category-new.active .img-box.img-box-business {
    background-image: url(../img/business.png) !important; }
  .category-new:hover .img-box.img-box-crime, .category-new.active .img-box.img-box-crime {
    background-image: url(../img/crime.png) !important; }
  .category-new:hover .img-box.img-box-camp, .category-new.active .img-box.img-box-camp {
    background-image: url(../img/camp_elections.png) !important; }
  .category-new:hover .img-box.img-box-milestones, .category-new.active .img-box.img-box-milestones {
    background-image: url(../img/milestones.png) !important; }
  .category-new:hover .img-box.img-box-religion, .category-new.active .img-box.img-box-religion {
    background-image: url(../img/religion.png) !important; }
  .category-new:hover .img-box.img-box-sports, .category-new.active .img-box.img-box-sports {
    background-image: url(../img/prep_sports.png) !important; }
  .category-new:hover .img-box.img-box-youth, .category-new.active .img-box.img-box-youth {
    background-image: url(../img/youth_sports.png) !important; }
  .category-new:hover .img-box.img-box-school, .category-new.active .img-box.img-box-school {
    background-image: url(../img/school.png) !important; }
  @media (max-width: 1199.98px) {
    .category-new:hover, .category-new.active {
      background: #f0f2f5;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); } }

.text-box-2 {
  padding: 24px 0 32px; }
  @media (max-width: 991.98px) {
    .text-box-2 .text-box-inside {
      padding-left: 0;
      padding-right: 0; } }
  .text-box-2:first-child {
    padding: 0 0 32px; }

.calendar-black {
  text-align: center;
  font-weight: bold;
  width: 38px; }
  .calendar-black .number {
    font-size: 34px;
    line-height: 1; }
  .calendar-black .month {
    font-size: 14px;
    text-transform: uppercase; }

.content-box-2 .news-box {
  line-height: 1.2; }
  .content-box-2 .news-box:not(:last-child) {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dfdfe6; }

.w-80 {
  display: inline-block;
  width: 80px; }
  .w-80 img {
    border-radius: 8px; }
  @media (max-width: 575.98px) {
    .w-80 {
      width: 60px; } }

.brand-box {
  width: 65px; }

.a-gray {
  display: inline-block;
  font-size: 14px;
  color: #c0c0c0; }
  .a-gray:hover {
    color: #c0c0c0; }

.section-hp {
  background-image: url(../img/hp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  position: relative;
  text-align: center;
  box-shadow: inset 0px -70px 40px -8px white;
  overflow: hidden; }
  @media (max-width: 767.98px) {
    .section-hp {
      min-height: 550px; } }
  .section-hp > .container {
    padding-top: 185px; }
  .section-hp .section-top {
    position: absolute;
    padding: 26px 16px;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.25); }
    @media (max-width: 767.98px) {
      .section-hp .section-top {
        padding: 16px; } }
    .section-hp .section-top img {
      width: 182px; }
      @media (max-width: 767.98px) {
        .section-hp .section-top img {
          width: 140px; } }

.search-community {
  position: relative; }
  .search-community .form-control {
    height: 65px;
    border: 0;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    padding: 6px 18px 6px 60px;
    color: #000; }
    .search-community .form-control::-webkit-input-placeholder {
      color: #c0c0c0; }
    .search-community .form-control::-moz-placeholder {
      color: #c0c0c0; }
    .search-community .form-control:-ms-input-placeholder {
      color: #c0c0c0; }
    @media (max-width: 767.98px) {
      .search-community .form-control {
        height: 50px;
        padding: 6px 18px 6px 45px; } }
  .search-community .fa-magnifying-glass {
    transition: 0.3s;
    position: absolute;
    background: none;
    border: none;
    color: #000;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    padding: 0;
    font-size: 28px; }
    @media (max-width: 767.98px) {
      .search-community .fa-magnifying-glass {
        font-size: 20px;
        left: 12px; } }

.us-box {
  text-align: center;
  margin-top: -250px;
  margin-bottom: 70px;
  transition: 0.3s; }
  @media (max-width: 767.98px) {
    .us-box {
      margin-top: -100px; } }
  .us-box .map-wrap {
    position: relative; }
    .us-box .map-wrap:before {
      content: "";
      display: block;
      padding-top: 68.479%; }
    .us-box .map-wrap .map {
      position: absolute !important;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    .us-box .map-wrap .jvectormap-zoomout, .us-box .map-wrap .jvectormap-zoomin {
      display: none; }
    .us-box .map-wrap .jvectormap-container, .us-box .map-wrap svg {
      touch-action: initial; }

.link-coverage {
  margin-bottom: 12px; }
  .link-coverage img {
    transition: 0.3s;
    max-height: 32px;
    width: 32px; }
  .link-coverage a {
    color: #000;
    opacity: 1;
    font-size: 17px; }
  .link-coverage:hover img {
    transform: scale(1.08); }

.card-trending {
  background: #FFF;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%; }
  .card-trending .card-content {
    padding: 10px 20px 15px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
    .card-trending .card-content .blue-link-big {
      font-size: 15px; }

.cook-county-link {
  font-size: 14px;
  position: relative;
  background: #f0f2f5;
  border-radius: 5px;
  width: 113px;
  display: inline-block;
  color: #000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 4px 10px; }
  .cook-county-link .fa-chevron-right {
    position: absolute;
    right: 8px;
    top: 50%;
    transition: 0.3s;
    font-size: 12px;
    transform: translateY(-50%); }
  .cook-county-link:hover {
    color: #000; }

.dropdown-county .dropdown-toggle:after {
  display: none; }
.dropdown-county .dropdown-menu {
  padding: 8px 20px;
  overflow: hidden;
  width: 100%;
  top: 0 !important;
  transform: none !important;
  margin-top: 0;
  transition: 0.3s;
  border: 0;
  border-radius: 8px;
  border: 1px solid #f0f2f5;
  display: block;
  opacity: 0;
  pointer-events: none; }
  .dropdown-county .dropdown-menu.select-visible {
    opacity: 1;
    pointer-events: initial; }

.heatmap .leaflet-control-attribution, .heatmap .leaflet-left {
  display: none; }

.cart-map {
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  background: #FFF;
  min-height: 320px;
  position: relative; }
  .cart-map > .heatmap {
    border-radius: 8px;
    min-height: 320px; }

#menu-map > .heatmap {
  border-radius: 8px;
  min-height: 660px; }

.btn-map {
  font-size: 15px;
  transition: 0.3s;
  color: #FFF;
  border-radius: 8px;
  background: #007bff;
  padding: 12px 24px; }
  .btn-map:hover {
    opacity: 1;
    background: #3578b7;
    color: #FFF; }
  .btn-map:focus {
    box-shadow: none; }

.btn-browse {
  position: absolute;
  bottom: 14px;
  left: 14px; }
  @media (max-width: 1199.98px) {
    .btn-browse {
      display: none; } }

#menu-map {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 60%;
  transform: translate(-50%, -50%) scale(0);
  min-height: 660px;
  z-index: 1000;
  transition: 0.3s;
  opacity: 0;
  background: #FFF;
  pointer-events: none;
  border-radius: 8px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.7); }
  .menubar-2 #menu-map {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1); }

.menu-map-close {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 10px; }

.map-search {
  position: absolute;
  top: 82px;
  left: 20px;
  right: 20px; }
  @media (min-width: 1200px) {
    .map-search {
      display: flex;
      top: 20px;
      right: auto;
      bottom: 20px;
      flex-direction: column;
      min-width: 230px; } }

.filter-box {
  padding: 25px 20px 15px;
  background: #FFF;
  border-radius: 8px;
  font-size: 14px;
  flex-grow: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.section-map-hide > .box-search {
  position: relative; }
  .section-map-hide > .box-search + .box-search {
    margin-top: 20px; }
  .section-map-hide > .box-search:not(:first-child) {
    display: none; }
  .section-map-hide > .box-search .cross-red {
    display: none; }
.menubar-map .section-map-hide > .box-search + .box-search {
  margin-top: 0; }

.form-map-select {
  position: relative; }
  .form-map-select .cross-red {
    transition: 0.3s;
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 100;
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 100px;
    pointer-events: none;
    background-image: url(../img/cross-red.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 15px; }
    @media (min-width: 1200px) {
      .form-map-select .cross-red {
        opacity: 0; } }
  .form-map-select:hover .cross-red {
    opacity: 1;
    pointer-events: initial; }
    .form-map-select:hover .cross-red:hover {
      opacity: 0.8; }

.select2-container {
  display: block;
  width: auto !important; }
  .select2-container .select2-selection--single {
    background: #f0f2f5;
    border: 1px solid #f0f2f5;
    padding: 0px 32px 0px 12px;
    transition: 0.3s;
    height: 45px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15); }
    .menubar-map .select2-container .select2-selection--single {
      background: #FFF; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      padding-left: 0;
      padding-right: 0; }
  .select2-container .selection {
    display: block; }

.select2-container--default .select2-selection--single {
  border-radius: 8px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000;
    line-height: 45px;
    font-size: 14px;
    font-weight: bold; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none; }

.select2-results__options > li:first-child:not([role="alert"]) {
  display: none; }

.select2-container--open .select2-dropdown {
  border: 1px solid #d7d8d9;
  border-radius: 8px;
  overflow: hidden;
  padding: 4px;
  top: -45px;
  padding: 0;
  z-index: 1050; }
  .select2-container--open .select2-dropdown .select2-search--dropdown {
    padding: 0; }
    .select2-container--open .select2-dropdown .select2-search--dropdown .select2-search__field {
      border: 0;
      border-bottom: 1px solid #d7d8d9;
      color: #000;
      border-radius: 8px 8px 0 0;
      padding: 4px 12px;
      height: 45px;
      font-size: 14px;
      background: #FFF; }
  .select2-container--open .select2-dropdown .select2-results {
    padding: 4px; }
    .select2-container--open .select2-dropdown .select2-results .select2-results__options {
      max-height: 234px;
      padding: 0 4px; }
      .select2-container--open .select2-dropdown .select2-results .select2-results__options::-webkit-scrollbar {
        width: 4px;
        height: 4px; }
      .select2-container--open .select2-dropdown .select2-results .select2-results__options::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 2px; }
      .select2-container--open .select2-dropdown .select2-results .select2-results__options::-webkit-scrollbar-thumb {
        background-color: #d7d8d9;
        border-radius: 2px; }
      .select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option {
        font-size: 14px;
        padding: 4px 6px;
        color: #000;
        background-color: transparent; }
      .select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted.select2-results__option--selectable {
        background: transparent; }
        .select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted.select2-results__option--selectable:hover, .select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted.select2-results__option--selectable.select2-results__option--selected {
          background-color: #f9f9f9;
          border-radius: 5px;
          border: 1px solid #d7d8d9;
          font-weight: bold; }

@media (min-width: 992px) {
  .section-main {
    height: calc(100vh - 129px);
    overflow: hidden; } }
@media (min-width: 1200px) {
  .section-main {
    height: calc(100vh - 72px); } }

@media (min-width: 992px) {
  .scroll-content {
    overflow-y: auto;
    height: calc(100vh - 129px); }
    .scroll-content::-webkit-scrollbar {
      width: 0; } }
@media (min-width: 1200px) {
  .scroll-content {
    height: calc(100vh - 72px); } }
.scroll-content.scroll-content-nav {
  height: calc(100vh - 55px); }
  @media (max-width: 1199.98px) {
    .scroll-content.scroll-content-nav {
      height: auto; } }

.float-section {
  max-width: 30%;
  width: 100%;
  float: left;
  margin-bottom: 8px;
  margin-right: 16px; }

.a-like {
  color: #000;
  display: inline-block; }
  .a-like:hover {
    color: #000; }
  .a-like img {
    width: 20px;
    margin-right: 4px;
    vertical-align: bottom; }
  .a-like span {
    line-height: 1;
    vertical-align: bottom; }
  .a-like.a-comment {
    margin-top: 16px; }
    .a-like.a-comment img, .a-like.a-comment span {
      vertical-align: top; }

.dropdown-social .dropdown-toggle:after {
  display: none; }
.dropdown-social .dropdown-menu {
  padding: 16px;
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
  min-width: 220px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
  border: 0; }
  .dropdown-social .dropdown-menu .dropdown-item {
    padding: 4px 14px; }
    .dropdown-social .dropdown-menu .dropdown-item:active {
      background: initial; }

/*# sourceMappingURL=style.css.map */
